.container-fluid {
    height: 100vh;

    margin: 0;
    padding: 0;

    background-color: rgb(227, 228, 242);
}

#tercio1 {
    background-color: rgb(227, 228, 242);
    justify-content: center;
    display: flex;
    align-items: flex-end;
    
}

#tercio2 {
    background-color: rgb(227, 228, 242);
    justify-content: center;
    display: flex;
    font-family: sans-serif;
    font-weight: 100;

    

}

#tercio3 {
    background-color:  rgb(13, 36, 53);
}

#botoncarta {
    color: rgb(13, 36, 53);
}

#botoncontacto {
    color: rgb(13, 36, 53);
}

#botoninicio {
    color: rgb(13, 36, 53);
    font-family: sans-serif;
    font-weight: 100;

}

.bloquevertical2 {
    background-color: rgb(13, 36, 53);
    justify-content: center;
    display: flex;
}

.bloquevertical1 {
    display: flex;
    justify-content: flex-end;
      
}
 

