body{
    overflow-x: hidden;

    padding: 0;
    margin: 0;
}


.container-fluid {

    margin: 0;
    padding: 0;
    background-color:rgba(13, 36, 53, 0.4) ;

    overflow-x: hidden;
}


.filahistoria {
    background-color: rgba(38, 63, 83, 0.635);
    padding: 3em;
}

#columna1 {
    background-color:rgba(216, 126, 30, 0.594);
}

#columna2 {
    background-color:rgba(216, 126, 30, 0.594);
}

#columna3 {
    background-color: rgba(216, 126, 30, 0.594);
}



#botoncarta {
    font-family: sans-serif;
    color: rgb(38, 63, 83);
    font-weight: 100;
    
}

#botoncontacto {
    font-family: sans-serif;
    font-weight: 100;
    color:rgb(38, 63, 83);
    
}

#botontrabaja {
    font-family: sans-serif;
    font-weight: 100;
    color:rgb(38, 63, 83);;

}

#botoninicio {
    margin-left: 2em;
  
}

.bloquevertical1 {
    display: flex;
    justify-content:center;
    align-items: center;
    object-fit: cover;
    background-color: greenyellow;
    box-sizing: border-box;

    padding: 0;
    margin: 0;


    height: 100vh;
    width: 70vw;
      
}

.mapa {
    justify-content: center;
    padding: 2em;
    background-color: rgb(38, 63, 83);
    padding-top: 2em;
    padding-bottom: 3em;
    gap: 3em;
}

.siguenos {
    color: whitesmoke;
    gap:2em;
    padding: 1em;
}

#direccion {
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    margin: 1em;
    font-family: sans-serif;
    font-weight: 100;
    
}

#direcciontexto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: large;
}

#redessociales {
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    margin: 1em;
    font-family: sans-serif;
    font-weight: 100;
}

.pagina3 {
    display: flex;
    justify-content: center;
}

#boton:hover {
    color: whitesmoke;
    cursor: pointer;
}


#partesuperior {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 3em 0em 3em;
    flex-direction: column;
}


#bloqueimagen {
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

.rowcontacto {

    display: flex;
    padding: 0;
    margin: 0;
    background-color: rgb(38, 63, 83);

    box-sizing: border-box;
  
}

.textohistoria {
    background-color: rgba(12, 39, 59, 0.3);
    padding: 0.3em;
    font-family: sans-serif;
    font-weight: 200;
    color:whitesmoke;
    justify-content: center;
    
}

.nuestrahistoria {
    background-color: rgba(12, 39, 59, 0.6);
    padding: 0.3em;
    font-family: sans-serif;
    font-weight: 500;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;

}


.columnatexto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(12, 39, 59);
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 500;
    background-color: white;
    opacity: 0.7;
    margin-left: 2em;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(12, 39, 59);
    font-family: sans-serif;
    background-color: white;
    opacity: 0.7;

}

.navbar-toggler {
    margin-right: 2em;
}

.navbar-collapse {
    margin-left: 2em;
}

.textocarta{
    background-color: rgba(216, 126, 30, 0.623);
    padding: 0.3em;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color:whitesmoke;

    flex-wrap: wrap;
}

.card-text {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color:rgb(38, 63, 83);
}

.card-title {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color:rgb(38, 63, 83); 
}

.dondeestamos {
    background-color: rgba(12, 39, 59, 0.6);
    padding: 0.3em;
    font-family: sans-serif;
    font-weight: 500;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.segundafilacontacto {
    background-color: rgb(38, 63, 83);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.formulario {
    padding: 2em;
}

.tercerafilacontacto {
    background-color: rgb(38, 63, 83);
    display: flex;
    justify-content: center;
    align-items: center;
}

.filacartaburger {
    padding: 2em;
    gap: 1em;
    justify-content: center;
    
}

.filacartanombre {
    color: rgba(216, 126, 30, 0.623);
    padding: 2em;
    gap: 1em;
    justify-content: center;

}

.nombrecarta {
    background-color: rgba(216, 126, 30, 0.417);
    padding: 0.3em;
    font-family: sans-serif;
    font-weight: 300;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;

}



