.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;

    background-color: rgb(227, 228, 242);
}

#paginaprincipal {
    flex-direction: column;
    background-color: rgb(13, 36, 53);
    /* width: 100vw;

    padding: 0;
    margin: 0; */
}


#mitad1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;

    font-family: sans-serif;
    font-weight: 100;

    padding: 0;
    margin: 0;
    
}

#mitad2 {
    background-color: rgb(13, 36, 53);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 4em;
    

}

#botoncarta {
    color:whitesmoke;
}

#botoncontacto {
    color: whitesmoke;
}

#botoninicio {
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: 100;

}


/* .bloquevertical2 {
    background-color: rgb(13, 36, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 25vw;
    gap: 1em;

    padding: 0;
    margin: 0;
      
} */

.bloquevertical1 {
    display: flex;
    justify-content:center;
    align-items: center;
    object-fit: cover;
    background-color: greenyellow;
    box-sizing: border-box;
    /* background-image: url(../img/musicalabirreria.jpeg); */

    padding: 0;
    margin: 0;


    height: 100vh;
    width: 70vw;
      
}

.bloquevertical2 {
    background-color: rgb(13, 36, 53);
    display: flex;
    flex-direction: column;
    align-items: space-around;
    gap: 2.5em;
    height: 100vh;
    width: 30vw;

    padding: 0;
    margin: 0;
      
}

.container {
    background-color: rgb(13, 36, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vh;
 
    padding: 0;
    margin: 0;
}

#imagenburger {
    width: 35em;
    height: 35em;
}

#direccion {
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    margin: 1em;
    font-family: sans-serif;
    font-weight: 100;
    
}

#direcciontexto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: large;
}

#bloquelogo {
    margin: 1em;
    display: flex;
    justify-content: center;

}

#redessociales {
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    margin: 1em;
    font-family: sans-serif;
    font-weight: 100;
}

.pagina3 {
    display: flex;
    justify-content: center;
}

#boton {
    color: rgb(207, 166, 112);
    
}

#boton:hover {
    color: whitesmoke;
    cursor: pointer;
}

#contactanos {
    color:  rgb(12, 39, 59);
    font-family: sans-serif;
    font-weight: 500;
    font-size: 2em;
    font-size: xx-large;
    background-color: white;
    opacity: 0.7;
}

#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1em;
}


.bloqueverticalcarta2 {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(../img/platoburger.jpeg);
    background-size: cover; */
    height: 100vh;
    box-sizing: border-box;
    
}

.bloqueverticalcarta {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: 50vw;
    flex-direction: column;

}

.containercarta {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

#partesuperior {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 3em 0em 3em;
    flex-direction: column;
}

/* #parteinferior {
    display: flex;
    justify-content: center;
    align-items: center;

} */

#bloqueimagen {
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

#imagencontactomusica {
    /* object-fit: contain;
    box-sizing: border-box; */
    height: 100%;
    width: 100%;

    padding: 0;
    margin: 0;
}

#imagencarta {
    height: 100%;
    width: 100%;

    padding: 0;
    margin: 0;
}

#imagenmenu {
    /* height: 100%;
    width: 100%;

    padding: 0;
    margin: 0; */

}

#botontrabaja {
    color: whitesmoke;

}

.containertrabaja {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 3em;
    margin: 0;

    gap: 1em;
}

#bloquetextohistoria {
    background-color: whitesmoke;
    padding: 4em;
    font-family: sans-serif;
    font-weight: 100;
    color:rgb(13, 36, 53);
    
}

#textohistoria {
    color: rgb(12, 39, 59);
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 500;
    background-color: white;
    opacity: 0.7;
}

